<!DOCTYPE html>
<html dir="rtl">

<head>
  <title>דוח אוטומציות</title>
  <link rel='stylesheet' href='/stylesheets/automationReport/automationReportScreen.css' />
</head>

<body>
  <div class="automationReportScreen-contining-titel-top">
    <h1 class="automationReportScreen-H1-titel">דוח אוטומציות</h1>
  </div>
  <div class="automationReportScreen-contining-middle-div">
    <div class="automationReportScreen-contining-right-div">
      <h3 class="automationReportScreen-H1-titel">דוח 5 ימים אחורה</h1>
        <!-- <ul class="automationReportScreen-right-ul-report">
          <li>
            <H4>כמות ההזמנות:</H4>
          </li>
          <li>
            <H4>כמות הזמנות שעברו באוטומציה:</H4>
          </li>
          <li>
            <H4>כמות הזמנות שהצליחו באוטומציה:</H4>
          </li>
          <li>
            <H4>כמות ההזמנות שנכשלו באוטומציה:</H4>
          </li>
          <li>
            <H4>כמות ההזמנות שלא נכנסו לאוטומציה:</H4>
          </li>
          <li>
            <H4>כמות ההזמנות שעברו ידני:</H4>
          </li>
        </ul> -->
        <%- ulRight %>
      </div>
      <div class="automationReportScreen-contining-left-div">
        <h3 class="automationReportScreen-H1-titel">פירט לפי מוצר</h1>
          <%- ulLeft %>
    </div>
  </div>
<script src="/javascripts/automationReport/automationReport.js"></script>


</body>

</html>