<%- include('0_Home_page_frame/top_title.ejs') %>
<link rel='stylesheet' href='/stylesheets/0_home_page.css' />
<div class="internal-title">
    <h1>Production controller iPrint</h1>
    <img src="/images/code-js.jpg">
</div>
<div class="projects-buttons">
    <a href="/fs">
        <div class="projects-buttons-img">
            <img src="/images/1_Browse-files.jpg">
        </div>
        <div class="text-button-project">Browse files</div>
    </a>
    <a href="/controlr-fils">
        <div class="projects-buttons-img">
            <img src="/images/2_controlr_fils/2_controlr_fils.jpg">
        </div>
        <div class="text-button-project">Controler fils</div>
    </a>
    
</div>


<%- include('0_Home_page_frame/footer.ejs') %>