<div class="tesk-edit-window">
    <a href="/management-it-controlr-fils">
        <img src="/images/2_controlr_fils/tesks/close.png">
    </a>
    <form action="/management-it-controlr-fils/edit" method="post">
        <h3>.ערוך את המשימה שלך</h3>
        
        <%- textTesk %> 
        <button type="submit">שמור</button>
    </form>
</div>