body {
    margin: 0px;
    background-color: rgb(107, 207, 253);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.automationReportScreen-contining-titel-top {
    background-color: rgb(83, 201, 255);
    height: 80px;
}
.automationReportScreen-H1-titel {
    color:rgb(37, 37, 37);
    text-align: center;
    padding-top: 20px;
    margin: 0px;
}
.automationReportScreen-contining-middle-div {
    display: flex;
    justify-content: space-around;
}
.automationReportScreen-contining-right-div {
    background-color: rgb(196, 236, 255);
    min-height: 400px;
    width: 49%;
    border-radius: 20px;
    margin-top: 20px;
}
.automationReportScreen-contining-left-div {
    background-color: rgb(196, 236, 255);
    min-height: 400px;
    width: 49%;
    border-radius: 20px;
    margin-top: 20px;
}
.automationReportScreen-left-li-poduct {
    display: flex;
    justify-content: right;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    width: 98%;
    /* border-left-style: solid;
    border-left-width: 1px;
    border-left-color: gray; */
}
.automationReportScreen-left-li-poduct h3{
    margin: 0px;
    margin-left: 5px;
    min-width: 28%;
    padding-right: 3px;
}
.automationReportScreen-left-li-poduct h4{
    margin: 0px;
    margin-left: 3px;
    min-width: 14%;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: gray;
    text-align: center;
}
.automationReportScreen-contining-percent {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
svg {
    height: 500px;
    width: 500px;
}
.automationReportScreen-Color-detail-in-percent {
    width: 30%;
    padding-right: 50px;
    padding-top: 20px;
}
.automationReportScreen-Color-detail-in-percent-point-contining {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 10px;
}
.automationReportScreen-Color-detail-in-percent-point {
    width: 15px;
    height: 15px;
    margin-top: 2px;
}
.automationReportScreen-Color-detail-in-percent-text-percent {
    margin: 0px;
    width: 50px;
}
.automationReportScreen-Color-detail-in-percent-text {
    margin: 0px;
    margin-right: 8px;
}
